In [1]:
# Imports
import pandas as pd
import numpy as np


# Read Excel File
mtss_loff_df = pd.read_excel('../data/DadosMTS.xlsx', encoding='utf-8')

print(mtss_loff_df.shape)
mtss_loff_df.head()

(42, 4)

,Data,Período de Tempo Equivalente,Distrito,Pedidos de Layoff Empresas
0,2020-09-01,Sep-20 to Jan-21,AVEIRO,7562
1,2020-09-01,Sep-20 to Jan-21,BEJA,1023
2,2020-09-01,Sep-20 to Jan-21,BRAGA,10973
3,2020-09-01,Sep-20 to Jan-21,BRAGANÇA,1251
4,2020-09-01,Sep-20 to Jan-21,CASTELO BRANCO,1497

In [3]:
# Get the df grouped by
mtss_grouped = mtss_loff_df[["Período de Tempo Equivalente", "Distrito", "Pedidos de Layoff Empresas"]].groupby(["Período de Tempo Equivalente", "Distrito"]).sum().reset_index(drop=False)
print(mtss_grouped.shape)
mtss_grouped.head()

(21, 3)

  Período de Tempo Equivalente        Distrito  Pedidos de Layoff Empresas
0             Sep-20 to Jan-21          AVEIRO                       15104
1             Sep-20 to Jan-21            BEJA                        2037
2             Sep-20 to Jan-21           BRAGA                       21892
3             Sep-20 to Jan-21        BRAGANÇA                        2490
4             Sep-20 to Jan-21  CASTELO BRANCO                        2986