In [1]:
# Imports
import numpy as np
import pandas as pd
import os

In [3]:
# Directories
data = "data"
car_counts = "car_count_results.npy"

# Open numpy
car_counts = np.load(file=os.path.join(data, car_counts), allow_pickle=True)
print(car_counts.shape)

(10000, 2)

In [5]:
# Create dataframe
car_counts_df = pd.DataFrame(car_counts, columns = ['image_name','nr_cars'])
car_counts_df.head()

           image_name nr_cars
0          image0.jpg       2
1    image0angle0.jpg       4
2  image0angle180.jpg       1
3  image0angle270.jpg       1
4   image0angle90.jpg       0